:root {
    --to-top-bg: rgb(88, 88, 88);
    --to-top-hover-bg: rgb(180, 180, 180);
}

[data-bs-theme="dark"] {
    --to-top-bg: #000000;
    --to-top-hover-bg: rgb(180, 180, 180);
}

.to-top {
    display: none;
    position: fixed;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    bottom: 1em;
    right: 1em;
    z-index: 99;
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  }

  .to-top {
    background-color: var(--to-top-bg);
  }

  .to-top:hover {
    background-color: var(--to-top-hover-bg);
    transform: translateY(-5px);
  }
  
  @media screen and (max-width: 767px) {
    .to-top {
      display: none !important;
    }
  }
  