.to-top {
    display: none;
    position: fixed;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    bottom: 0.75em;
    right: 0.75em;
    z-index: 5;
    border-radius: 50%;
    transition: 0.25s;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.3);
  }
  
  .to-top.light {
    background-color: #fff;
  }
  
  .to-top.light:hover {
    background-color: rgb(88, 88, 88);
    color: #fff;
  }
  
  .to-top.dark {
    background-color: rgb(88, 88, 88);
    color: rgb(255, 255, 255);
  }
  
  .to-top.dark:hover {
    background-color: rgb(180, 180, 180);
    color: #000;
  }
  
  .to-top:hover {
    transform: translateY(-5px);
  }
  
  @media screen and (max-width: 767px) {
    .to-top {
      display: none !important;
    }
  }
  