.card-img {
    max-width: 50%;
    max-height: 50%;
}

.card.proj-card {
    transition: 0.25s;
    margin: 1em 0;
    background-color: var(--bs-secondary-bg);
    color: var(--bs-body-color);
}

.card.proj-card:hover {
    z-index: 1;
    border: 1px solid rgb(114, 114, 114);
    transform: scale(1.025);
    filter: drop-shadow(0 0 2em var(--hover-color));
    transition: 0.5s;
}

.card-title {
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .card.proj-card {
        width: 90%;
        height: fit-content;
        margin: 1em auto;
        font-size: 0.9em;
    }

    .card-title {
        font-size: 1.1em;
    }
}

@media only screen and (max-width: 700px) {
    .enlarged {
        width: 100%;
    }
}