.canvas {
    column-count: 4;
    column-gap: 0;
    margin: 0;
}

@media screen and (max-width: 1068px) {
    .canvas {
        column-count: 2;
    }
}

@media screen and (max-width: 480px) {
    .canvas {
        column-count: 1;
    }   
}