:root {
    --modal-bg: #ffffff;
    --modal-text: #000000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --modal-bg: #000000;
        --modal-text: #ffc107;
    }
}

.image-modal-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.image-modal-backdrop.show {
    display: flex;
}

.image-modal-header {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 0.25em 1em;
    border-radius: 1em 1em 0 0;
    box-sizing: border-box;
    background-color: var(--modal-bg);
}

.image-modal-box {
    position: relative;
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    z-index: 100;
    max-width: 75%;
    max-height: 75%;
    box-shadow: 2px 4px 16px rgba(51, 51, 51, 0.8);
}

.image-modal-close-btn {
    user-select: none;
    transition: 0.3s;
    margin: 0;
    color: var(--modal-text);
}

.image-modal-close-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.image-modal-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0 0 1em 1em;
    background-color: var(--modal-bg);
    color: var(--modal-text);
}

.image-modal-footer div {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
}

.image-modal-next {
    position: absolute;
    right: min(-3vw, -3.5em);
    top: 50%;
    border-radius: 50% !important;
    padding: 0.5em;
}

.image-modal-prev {
    position: absolute;
    left: min(-3vw, -3.5em);
    top: 50%;
    border-radius: 50% !important;
    fill: var(--modal-text);
}

.image-modal-prev svg, .image-modal-next svg {
    fill: var(--bs-body-color);
    stroke: var(--bs-body-color)
}