.image-modal-backdrop {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: contain;
    background-repeat: no-repeat;
    backdrop-filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.image-modal-backdrop.show {
    display: flex;
}

.image-modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
    border-radius: 1em 1em 0 0;
    box-sizing: border-box;
    background-color: var(--bs-primary-bg-subtle);
    color: var(--bs-body-color);
}

.image-modal-box {
    position: relative;
    display: flex;
    border-radius: 1em;
    flex-direction: column;
    z-index: 100;
    background-color: white;
    max-width: 75%;
    max-height: 75%;
    box-shadow: 2px 4px 16px rgba(51, 51, 51, 0.8);
}

.image-modal-box img {
    border-radius: 0 0 1em 1em;
}

.image-modal-close-btn {
    user-select: none;
    transition: 0.3s;
}

.image-modal-close-btn:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.image-modal-next {
    position: absolute;
    right: min(-3vw, -3.5em);
    top: 50%;
    border-radius: 50% !important;
    padding: 0.5em;
}

.image-modal-prev {
    position: absolute;
    left: min(-3vw, -3.5em);
    top: 50%;
    border-radius: 50% !important;
    fill: var(--bs-body-color);
}

.image-modal-prev svg, .image-modal-next svg {
    fill: var(--bs-body-color);
    stroke: var(--bs-body-color)
}