@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap");

* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  padding: 0;
  scroll-behavior: smooth !important;
  border: 0;
  outline: 0;
  max-width: 100%;
  max-height: 100%;
}

.section {
  padding: 1em 20% !important;
}

.section-title {
  margin-bottom: 1em;
  font-weight: 700;
  padding-top: 1em;
  font-size: 3em;
  text-align: center;
  user-select: none;
}

@media screen and (max-width: 767px) {
  .section-title {
    font-size: 2.5em;
  }
}

/* Media query for small screens */
@media only screen and (max-width: 700px) {
  .enlarged {
    width: 100%;
  }
}
