@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth !important;
  border: 0;
  outline: 0;
  max-width: 100%;
  max-height: 100%;
  transition: all 0.2s;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
  border: 3px solid #f5f5f5;
  width: 16px;
  margin: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
  border: 3px solid #f5f5f5;
}

#root {
  margin-top: 1.5em; /* Make space for fixed nav */
}
