#home {
    height: 100vh;
}

#name {
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
    text-align: center;
}

#name:hover {
    cursor: default;
}

#links {
    position: absolute;
    bottom: 0.5em;
    font-size: 3em;
    margin-left: 0.5em;
}

#links img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

#links button {
    border-radius: 50%;
    width: 65px;
    height: 65px;
    border: none;
    padding: 0px;
    transition: 0.3s;
}

#links button:hover {
    transform: scale(1.25);
}

@media screen and (max-width: 767px) {
    #name {
        font-size: 3.25em;
    }

    #links {
        font-size: 2.5em;
    }
}